{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div>
    <h1>Welcome to our beautiful page!</h1><br>
    We’re thrilled to have you here. This is a space dedicated to fostering insightful discussions, sharing experiences,
    and providing support for individuals affected by epilepsy.

    Once you log in, you’ll gain access to our vibrant forum where you can participate in ongoing discussions, ask
    questions, share your experiences, or simply read what others have to say. It’s a wonderful opportunity to learn
    from others who are navigating similar journeys.

    In addition to the forum, we also have a blog where I share my thoughts, insights, and latest findings on epilepsy.
    It’s a great resource to stay updated on new developments and perspectives in the field.

    What’s more, we offer a ‘Free Epilepsy Test’ that you can take online. Simply click on the ‘Free Epilepsy Test’
    button to start. This test is designed to help you understand your symptoms better and guide you on your next steps.

    We hope you find our community helpful and supportive. Looking forward to your active participation!
</div>
{% endblock %}